<!DOCTYPE html>
<html lang="en">
  <body>
    <!-- Page Content -->
    <br><br>
    <div class="container">
      <% @posts.each do |x| %>
      
         <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                
                                <div class="ml-2">
                                    <div class="h5 m-0"><b>By: <%= x.user.username %></b></div>
                                    <div class="h7 text-muted"><%= x.created_at %></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        
                            <h5 class="card-title"><b>Topic: </b><i><%= x.title.slice(0,1).capitalize + x.title.slice(1..-1) %></i></h5>


                        <p class="card-text"><%= x.content[0..500] %> <%= link_to "more....", post_path(x.id) %></p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link"><i class="fa fa-gittip"></i><%= link_to 'Show Full Post', post_path(x.id) %></a>
                    </div>
                </div>
                <br>
      <% end %>
    </div>
  </body>
</html>