<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title,class: "form-control rounded-0", rows: "1" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control rounded-0", rows: "10" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary"%>
  </div>
<% end %>

